Package: fastapi-app
Version: 0.1
Architecture: amd64
Maintainer: Nikita <torchhik_darkness@mail.ru>
Installed-Size: 15
Pre-Depends: libbz2-1.0, libc6 (>= 2.38), liblzma5 (>= 5.4.0), libmd0 (>= 0.0.0), libselinux1 (>= 3.1~), libzstd1 (>= 1.5.5), zlib1g (>= 1:1.1.4)
Depends: python3-venv, python3-pip
Section: web
Priority: optional
Multi-Arch: foreign
Description: This app is fantastic example for DevOps Engineer , i think about this what is incredable app! PRESS MRG!
